{% extends 'chat/base.html' %}
{% block content %}
<style>
   body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background : url('../../../static/isproject/cool-background.jpg');
        min-height: 100vh;
		height: 100%;

	  	min-height: 100%;
	  	background-position: center;
	  	background-size: cover;
   }
   * {
      box-sizing: border-box;
   }
   .openChatBtn {
      background-color: rgb(102, 255, 255);
      color: black;
      padding: 16px 20px;
      border: none;
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
      opacity: 0.8;
      position: absolute;
      bottom: 20px;
      right: 28px;
      width: 280px;
   }
   .openChat {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #666699;
      z-index: 9;
   }
   form {
      max-width: 300px;
      padding: 10px;
      background-color: white;
   }
   form textarea {
      width: 100%;
      font-size: 18px;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      font-weight: 500;
      background: #d5e7ff;
      color: rgb(0, 0, 0);
      resize: none;
      min-height: 200px;
   }
   form textarea:focus {
      background-color: rgb(219, 255, 252);
      outline: none;
   }
   form .btn {
      background-color: rgb(153, 0, 204);
      color: white;
      padding: 16px 20px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
      opacity: 0.8;
   }
   .close {
  position: absolute;
  right: 32px;
  top: 12px;
  width: 20px;
  height: 20px;
  color:red
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
 .close:before {
  transform: rotate(45deg);
}
 .close:after {
  transform: rotate(-45deg);
}
   form .btn:hover, .openChatBtn:hover , .w3-input:hover{
      opacity: 1;
   }
   input {
      background-color:#e9f7f7;
      color: black;
      padding: 16px 20px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px;
      opacity: 0.8;
   }

    .imageChat
    {
      position: relative;
      top: 0px;
      left: 80px;
    }

</style>
<title>Chat Room</title>
<body>
<div style="position: relative; left: 0; top: 0;">
<img src="./../../static/isproject/working-remotely.png" class="imageChat"/>
</div>
<button class="openChatBtn" onclick="openForm()">Messaging
</button>
<div class="openChat">
<form autocomplete="off">
  <h1>Chat</h1>
<label for="msg"><b>Message</b></label>
<textarea  id="chat-log" readonly></textarea>
 <input id="chat-message-input" type="text" size="35" placeholder="Type a message"><br>
  <button class="btn" id="chat-message-submit" type="button" >Send</button>
    {{ request.user.username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}
<button type="button" class="close" onclick="closeForm()">
</button>
</form>
</div>
 <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#chat-log').value += (data.username + ': ' + data.message + '\n');
        };
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };
        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username':user_username,
            }));
            messageInputDom.value = '';
        };
    </script>
<script>
   document .querySelector(".openChatBtn") .addEventListener("click", openForm);
   document.querySelector(".close").addEventListener("click", closeForm);
   function openForm() {
      document.querySelector(".openChat").style.display = "block";
   }
   function closeForm() {
      document.querySelector(".openChat").style.display = "none";
   }
</script>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
{% endblock content %}