{% load static %}

<!DOCTYPE html>
<html lang=en>
<title>CARRY-ER</title>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
</head>

<body>

{% include 'snippets/base_css.html' %}
{% include 'snippets/base_js.html' %}
{% include 'snippets/header.html' %}


<!-- Body -->
<style type="text/css">
	.main{
		min-height: 80h;
		height: 100%;
	  	background-image: url('../../../static/isproject/cool-background.jpg');
	  	min-height: 100%;
	  	background-position: center;
	  	background-size: cover;
	  	overflow: auto;
	  	position: relative;
	  	 flex-basis: auto;
  		flex-shrink: 0;
 		 flex-grow: 1;

	}


</style>
<div class="main">
	{% block content %}

	{% endblock content %}
</div>
<!-- End Body -->

{% include 'snippets/footer.html' %}

<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>