{% extends 'base.html' %}
{% include 'account/comp_css.html' %}

{% block content %}
<style>
    .container  {

	  flex-shrink: 0;
	  flex-grow: 1;
	  display: flex;
	  flex-direction: column;
	  min-height: 100vh;
	  justify-content: center;
	  align-items: center
}

.wizard{
 margin-top:50px;

}

.myButton {
	box-shadow: 3px 4px 0px 0px #7c0da8;
	background:linear-gradient(to bottom, #79bbff 5%, #e800f0 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #e4cbf2;
	display:flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c817eb;
	position: relative;
	left: 30%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e800f0 5%, #79bbff 100%);
	background-color:#e800f0;
}
.myButton:active {
	position:relative;
	top:1px;
}

.imagine {
  width: 30%;
  position:absolute;
  left: 70%;
}

.imagine2 {
  width: 10%;
  height: 14%;
  position:absolute;
  left: 10%;
  top: 10%;
}

</style>

<div class="container">
        <div class="col-lg-8 pb-5">
            <form class="row" method="POST"> {% csrf_token %}

                <div class="col-md-10">
                    <div class="form-group">


                        <label for="account-fn">Job title</label>
                        <input class="form-control" type="text" id="account-fn" required="" name="title" >

                        <label for="account-email">Job location</label>
                        <input class="form-control"  name="location" type="text" id="account-email" required="">


                        <label for="account-field" >Job description</label>
                        <textarea class="form-control" name="job_description" id="account-field"  required=""></textarea>


                        <label for="account-about">Work time</label>
                        <input class="form-control"  name="work_time" type="text" id="account-about"  required="">

                         <label for="account-q">Qualifications</label>
                        <textarea class="form-control" name="qualifications"  id="account-q"  required=""  ></textarea>

                        <label for="account-b">Benefits</label>
                        <textarea class="form-control" name="benefits"  id="account-b"  required=""  > </textarea>

                    </div>
                </div>

                <button class="myButton" type="submit">Create job</button>
            </form>
        </div>
     <img class="imagine"src="./../../static/isproject/strategist.png" />

    </div>


  {% endblock content %}