{% extends 'base.html' %}


{% block content %}

{% include 'account/comp_css.html' %}
<style>

.container  {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  margin-top:90px;


 flex-basis: auto;
	  flex-shrink: 0;
	  flex-grow: 1;
	  display: flex;
	  flex-direction: column;
	  min-height: 80vh;
}

.wizard{
 margin-top:50px;


}
.container .row {
  margin: 0 auto;

}


  .myButton {
	box-shadow: 3px 4px 0px 0px #7c0da8;
	background:linear-gradient(to bottom, #79bbff 5%, #e800f0 100%);
	background-color:#79bbff;
	border-radius:5px;
	border:1px solid #e4cbf2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c817eb;
	position: relative;
	margin-top:50px;
	width: 30%;


}
.myButton:hover {
	background:linear-gradient(to bottom, #e800f0 5%, #79bbff 100%);
	background-color:#e800f0;
}
.myButton:active {
	position:relative;
	top:1px;
}
a{
color:white;
}
.imagine {
  width: 40%;
  position:relative;
  left: 80%;
  top:30%;
}
</style>
<div class=" container">


            <!-- Account Sidebar-->

            <div class="author-card pb-3">
                <div class="author-card-profile">
                    <div class="author-card-details">
                        <h3 class="author-card-name text-lg">{{request.user.company.name}}</h3><span class="author-card-position">Joined {{request.user.date_joined}}</span>

                    </div>
                </div>
            </div>

            <div class="wizard">
                <nav class="list-group list-group-flush">
                            <div><i class="fe-icon-heart mr-1 text-muted"></i>

                                    <button type="button" class=" myButton btn " style="margin-top:16px" > Post a job</button>

                            </div>

                            <div><i class="fe-icon-tag mr-1 text-muted"></i>
                                <button type="button" class=" myButton btn " style="margin-top:16px">Post an interview test</button>
                            </div>
                            <div><i class="fe-icon-tag mr-1 text-muted"></i>
                                  <button class="myButton btn" type="submit" style="margin-top:16px"> <a href="{% url 'update_company' %}">Update Profile</a></button>
                            </div>

                            <img class="imagine"src="./../../static/isproject/set.png" />
                </nav>

            </div>


</div>
        <!-- Profile Settings-->





</div>
  </div>



{% endblock content %}