{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">

	.container-fluid {
	 flex-basis: auto;
	  flex-shrink: 0;
	  flex-grow: 1;
	  display: flex;
	  flex-direction: column;
	  min-height: 80vh;
	}

  .card-signin {
	  width: 100%;
	  max-width: 400px;
	  padding: 15px;
	  margin: auto;
	  margin-top: 20px;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }


 .form-signin input[type="longtext"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

      padding: 100px 20px;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


</style>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="card card-signin">
		  <div class="card-body">
		    <form class="form-signin" method="post">{% csrf_token %}
				<div class="d-flex flex-column pb-3">
				{{form.}}
				<img class="img-fluid mx-auto d-block" src="{% static 'isproject/CARRY-ER.jpg' %}" alt="codingwithmitch logo" width="72" height="72">							</div>
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

				<input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>

				<input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>

				<input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>

				{{company_form.}}

				<input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required >

				<input type="text" name="field" id="inputField" class="form-control" placeholder="Field" required >


                <input type="text" name="about" id="inputAbout" class="form-control" placeholder="About" required >

				{% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{registration_form.non_field_errors}}</p>
				</div>

				{% endif %}

				<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

				</form>
		  </div>
		</div>

	</div>
</div>






{% endblock content %}